/* CSS Document */

/*------------------------------------------------------------------
/*--------------------------------------------------------*/

/* TABLE OF CONTENTS: */

/*--------------------------------------------------------*/


/* 03 - COMPANY SECTIION  */

/* 04 - MISSION SECTIION  */

/* 05 - TEAM SECTIION  */

/* 06 - PROMO SECTION */


/*------------------------------------------------------*/

/* Typography */

.media i, .learn__more {
    color: var(--primary-color);
}

a:hover {
    text-decoration: none;
}


.header__sec__bg {
    background-image: url('../img/teambg.jpg');
    width: 100%;
    height: 40%;
    height: 350px;
    margin: 0;
    position: relative;
    border-radius: 0;
}

.header__sec__bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
    right: 0;
}

.header__sec__bg .text__visible {
    position: relative;
    color: #fff;
    text-align: center;
    top: 35%;
}

.paging {
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
}

.paging a {
    color: var(--primary--text--color);
    display: inline-block;
    padding: 16px 0;
}

.paging .active__pg i {
    padding: 0 10px;
    color: #bdbdbd;
    font-size: 12px;
}

.paging .active__pg a {
    color: var(--primary-color);
}

/*---------------------- 03. COMPANY SECTIION----------------------*/

.company__section {
    padding: 4rem 0;
}

.company__section .our_company_text {
    padding-bottom: 1rem;
    text-align: center;
}

.our_company--quote_media img {
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.our_company--quote_media {
    position: relative;
}

.our_company--quote_text {
    position: relative;
    font-size: 16px;
    color: #969696;
    line-height: 23px;
    font-style: italic;
    padding: 45px 0 0;
    margin: 0;
}

.our_company--quote_text i {
    position: absolute;
    display: inline-block;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    top: -5px;
    left: -3px;
    font-size: 32px;
    color: #ff5e14;
}

.our_company--quote_author {
    position: relative;
}

.our_company--quote_author strong {
    display: block;
    padding: 18px 0 0;
}

.our_company--quote_author span {
    padding: 0 0 0;
    display: block;
    font-size: 14px;
    color: #969696;
    margin: 0;
}

.our_company--text h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 13px;
}

.our_company--text {
    position: relative;
    padding: 4px 45px 0 0;
}

@media (max-width: 992px) {
    .our_company--text {
        margin-bottom: 20px;
        padding: 0;
    }
}

/*---------------------- 04. MISSION SECTION----------------------*/

.mission__section {
    background-color: #f0f0f0;
    border-radius: 0;
    padding: 5rem 0;
}

.mission__section .card {
    background-color: transparent;
}

.mission__section .row {
    margin-top: 6rem;
}

.our_company--text h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 13px;
}

.our_company--text p:first-of-type {
    margin-top: 0;
}

.our_company--text p {
    font-size: 16px;
    color: #969696;
    line-height: 23px;
    margin: 15px 0 0;
}

.mission__section .card img {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.our_company--text ul {
    padding-top: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.our_company--text ul li:first-child {
    margin-right: 14px;
}

.our_company--text ul li {
    position: relative;
    margin: 7px 0 0;
    padding: 0 0 0 0px;
    color: #969696;
}

.our_company--text ul li i {
    position: relative;
    margin-right: 14px;
    color: var(--primary-color);
    font-size: 8px;
}

/*---------------------- 04. TEAM SECTION----------------------*/

.team__section .container {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
}

.team__section {
    background-image: url('../img/iStock_539356314.jpg');
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    position: relative;
    border-radius: 0;
}

.team__section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    top: 0;
    right: 0;
}

.team__section .text__visible {
    position: relative;
    color: #fff;
}

.team_member {
    position: relative;
    background: #202223;
    margin: 30px 0 0;
    text-align: center;
    overflow: hidden;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    border: 0px;
}

.team_member--body {
    padding: 25px;
}

.team_member img {
    border-radius: 0;
}

.team_member--name {
    font-size: 18px;
    font-weight: 700;
    color: #fff !important;
}

.team_member--position {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 23px;
    margin: 10px 0 0;
}

.team_member--email {
    display: block;
    margin: 8px 0 0;
}

.team_member--email a {
    color: var(--primary-color);
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.team_member--email a:hover {
    opacity: 0.85;
}

.card .team_member--links {
    margin: 22px 0 0;
    list-style: none;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.card .team_member--links li {
    display: inline;
}

.team_member--links li a:hover span {
    color: var(--primary-color);
}

.card .team_member--links li a {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}