/* CSS Document */

/*------------------------------------------------------------------
/*--------------------------------------------------------*/

/* TABLE OF CONTENTS: */

/*--------------------------------------------------------*/


/* 03 - COUNTRIES SECTION  */

/* 04 - ADDITIONAL QUESTIONS */

/* 05 - ASK QUESTION */


/*------------------------------------------------------*/


.header__sec__bg {
    background-image: url('../img/teambg.jpg');
    width: 100%;
    height: 40%;
    height: 350px;
    margin: 0;
    position: relative;
    border-radius: 0;
}

.header__sec__bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
    right: 0;
}

.header__sec__bg .text__visible {
    position: relative;
    color: #fff;
    text-align: center;
    top: 35%;
}

.paging {
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
}

.paging a {
    color: var(--primary--text--color);
    display: inline-block;
    padding: 16px 0;
}

.paging .active__pg i {
    padding: 0 10px;
    color: #bdbdbd;
    font-size: 12px;
}

.paging .active__pg a {
    color: var(--primary-color);
}

/*---------------------- 03. COUNTRIES SECTION ----------------------*/

.countries__section__header {
    margin: 70px 0 70px;
    position: relative;
    z-index: 1;
    padding: 0 20px;
}

.contact_us .tab_navigation {
    margin: 0 0 80px;
}

ol, ul {
    list-style: none;
}

.tab_navigation {
    position: relative;
    border-top: 1px solid #e9e9e9;
    z-index: 1;
}

.tab_navigation--link {
    position: relative;
    padding: 24px 0 10px;
    display: block;
    text-align: center;
}

.tab_navigation--link_text {
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    vertical-align: top;
}

.tab_navigation--link.-active .line, .tab_navigation--link:hover .line {
    display: block;
}

.tab_navigation--link.-active i, .tab_navigation--link:hover i, .tab_navigation--link.-active span, .tab_navigation--link:hover span {
    color: var(--primary-color);
}

.tab_navigation--link:hover, .tab_navigation--link.-active{
    border-top: 3px solid var(--primary-color);
}


/*---------------------- 05. Contact Us----------------------*/


input[type=text], [type=email], [type=email], textarea[class=form-control], select[ id="inputState"] {
    width: 100%;
    background: #fcfcfc;
    border: 2px solid #e9e9e9;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 20px;
    position: relative;
    z-index: 1;
    resize: none;
    vertical-align: top;
    color: #262626;
    border-radius: 0;
}

.form-row label {
    width: 100%;
    margin: 0;
}

.form-row label::after {
    content: '';
    position: relative;
    padding: 8px;
    width: 100%;
    margin: 0;
}

input[type=submit] {
    background-color: var(--primary-color);
    color: var(--main-txt-color);
    padding: 12px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--secondary-color);
}

input[type="file"] {
    display: none;
}

.custom__file__upload label {
    background-color: transparent;
    color: #3b3b3b;
    display: inline-block;
    cursor: pointer;
    padding: 10px 18px;
    border: 2px solid #3b3b3b;
    position: relative;
}

.custom__file__upload label:hover {
    background-color: #353535;
    border-color: #353535;
    color: #fff;
}

.custom__file__upload label::after {
    content: '';
    position: relative;
    padding: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 94, 20, 0.25);
}
/* map */
.map .card-header{
    color: var(--main-txt-color);
    background-color: var(--primary-color);
}