/* CSS Document */

/*------------------------------------------------------------------
/*--------------------------------------------------------*/

/* TABLE OF CONTENTS: */

/*--------------------------------------------------------*/

/* 03 - QUESTION SECTION  */

/* 04 - ADDITIONAL QUESTIONS */

/* 05 - ASK QUESTION */


/*------------------------------------------------------*/

.header__sec__bg {
    background-image: url('../img/teambg.jpg');
    width: 100%;
    height: 40%;
    height: 350px;
    margin: 0;
    position: relative;
    border-radius: 0;
}

.header__sec__bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
    right: 0;
}

.header__sec__bg .text__visible {
    position: relative;
    color: #fff;
    text-align: center;
    top: 35%;
}

.paging {
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
}

.paging a {
    color: var(--primary--text--color);
    display: inline-block;
    padding: 16px 0;
}

.paging .active__pg i {
    padding: 0 10px;
    color: #bdbdbd;
    font-size: 12px;
}

.paging .active__pg a {
    color: var(--primary-color);
}

/*---------------------- 03. Questions ----------------------*/

.faq__section {
    padding-bottom: 65px;
    padding-top: 65px;
}

.our_company--text {
    position: relative;
    padding: 18px 45px 0 0;
}

.our_company--faq_text {
    margin-top: 20px;
}

.our_company--faq_title-letter, .our_company--faq_text-letter {
    border: 2px solid #ff5e14;
    text-transform: uppercase;
    color: #ff5e14;
    position: relative;
    padding: 1px 12px;
    font-size: 30px;
    margin-right: 22px;
    max-height: 46px;
    font-weight: normal;
}

.our_company--faq_text-letter {
    float: left;
    margin-bottom: 15px;
}

.our_company--text p:first-of-type {
    margin-top: 0;
}

.our_company--text p {
    font-size: 16px;
    color: #969696;
    line-height: 23px;
    margin: 15px 0 0;
    padding-bottom: 14px;
}

/*---------------------- 04. Additional Questions ----------------------*/

[data-toggle="collapse"] .plus__minus:before {
    content: "\f068";
    font-size: 12px;
}

[data-toggle="collapse"].collapsed .plus__minus:before {
    content: "\f067";
}

.accordion {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
}

.accordion .card-header::before {
    position: absolute;
    display: block;
    content: '';
    width: 3px;
    height: 35px;
    background: var(--primary-color);
    left: 0;
    top: 17px;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.accordion--title {
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    padding: 26px 30px;
    position: relative;
    color: var(--primary--text--color);
    margin: 0;
}

.accordion--pane__content {
    padding: 20px 22px 22px 30px;
    border-top: none;
    color: #767676;
    font-size: 15px;
    line-height: 22px;
    margin: 0 30px 30px;
    background-color: #FCFCFC;
    border: 1px solid #e9e9e9;
}

/*---------------------- 05. Ask Question----------------------*/
input[type=text],[type=email],[type=email],textarea[class=form-control], select[ id="inputState"] {
    width: 100%;
    background: #fcfcfc;
    border: 2px solid #e9e9e9;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 20px;
    position: relative;
    z-index: 1;
    resize: none;
    vertical-align: top;
    color: #262626;
    border-radius: 0;
}
 

.ask__question__sec {
    background-image: url('../img/formbg.jpg');
    width: 100%;
    margin: 0;
    position: relative;
    border-radius: 0;
    box-sizing: border-box;
    padding: 89.5px;
}

.section--header {
    margin: -20px 0 70px;
    position: relative;
    z-index: 1;
    padding: 0 20px;
}

.section--description {
    font-size: 20px;
    font-family: "Roboto";
    line-height: 30px;
    color: #262626;
    opacity: 0.6;
    text-align: center;
    margin: 15px 0 0 0;
    font-weight: 400;
}

.form-row label {
    width: 100%;
    margin: 0;
}

.form-row label::after {
    content: '';
    position: relative;
    padding: 8px;
    width: 100%;
    margin: 0;
}

input[type=submit] {
    background-color: var(--primary-color);
    color: var(--main-txt-color);
    padding: 12px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--secondary-color);
}

input[type="file"] {
   display: none; 
}

.custom__file__upload label{
    background-color: transparent;
    color: #3b3b3b;
    display: inline-block;
    cursor: pointer;
    padding: 10px 18px;
    border: 2px solid #3b3b3b;
    position: relative;
}

.custom__file__upload label:hover {
    background-color: #353535;
    border-color: #353535;
    color: #fff;
}

.custom__file__upload label::after {
    content: '';
    position: relative;
    padding: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 94, 20, 0.25);
}
