/* CSS Document */

/*------------------------------------------------------------------
/*--------------------------------------------------------*/

/* TABLE OF CONTENTS: */

/*--------------------------------------------------------*/

/* 03 - CAROUSEL  */

/* 04 - SERVICE  */

/* 05 - QUALITY SECTION */

/* 06 - CHOOSE SECTION  */

/* 07 - SECOND CAROUSEL */

/* 08 - PRICING SECTION */

/* 09 - PROJECT SECTION */

/* 10 - PROMO SECTION */

/*------------------------------------------------------*/


/*---------------------- 03. CAROUSEL----------------------*/

.carousel-item {
    max-height: 656px;
}

.carousel-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    top: 0;
    right: 0;
}
.main__carousal .text__visible {
    position: relative;
    color: #fff;
    text-align: center;
}
.main__carousal i {
    font-size:50px;
    margin: 3rem;    
}

/*---------------------- 04. SERVICES----------------------*/

.services__section .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.service__sec__item {
    padding: 16px;
    margin-bottom: 24px;
}

.service__sec__item__icon {
    font-size: 61px;
}

.media-body h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

.media-body p {
    color: #7d7d7d;
    font-size: 14px;
    line-height: 21px;
}

.media-body footer a {
    color: var(--primary-color);
}

.media:hover, .media:hover i, .media:hover a, .media:hover h3 {
    background: var(--primary-color);
    color: var(--main-txt-color);
}

.media-body footer i {
    margin-left: 8px;
}

.media {
    width: 100%;
}

@media (max-width: 1200px) {
    .service__sec__item__icon {
        width: 100%;
        margin: auto;
        padding-bottom: 1rem;
    }
    .service__sec__item {
        display: block;
        text-align: center;
    }
}

/*---------------------- 05. QUALITY SECTION----------------------*/

.row_service__quality {
    background-image: url('../img/1200.png');
    width: 100%;
    height: 40%;
    margin: 0;
    position: relative;
    border-radius: 0;
}

.row_service__quality::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
    right: 0;
}

.row_service__quality [class*="col-"] {
    margin: 36px 0px;
}

.service__quality {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 85%;
}

.service__quality p {
    color: #999999;
    font-size: 16px;
    line-height: 23px;
}

.service__quality h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.service__quality i, .service__quality h4 {
    color: #ffffff;
}

.service__quality i {
    font-size: 40px;
    padding-right: 18px;
}

/* Display vertical line between columns on large screen in service quality section */
@media (min-width: 992px) {
    .display__line:after {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        height: 100%;
        max-height: 175px;
        top: 0;
        right: 28px;
        background: #ffffff80;
    }
}

/*---------------------- 06. CHOOSE SECTION----------------------*/

.choose__section .container{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 992px) {
    .align__center {
        text-align: center;
    }
}
.choose__section .card img {
    margin-bottom: 0.5rem;   
    border-radius: 0.25rem;

}

.card-body h3 {
    font-size: 20px;
    font-weight: bold;
    color: #262626;
}

.card-body p {
    line-height: 23px;
    color: rgb(150, 150, 150);
}

.card-body a {
    color: var(--primary-color);
}

.card-body i {
    margin-left: 8px;
}
/*---------------------- 07. SECOND CAROUSEL----------------------*/

.second__carousal {
    background-image: url('../img/clients_bg.jpg');
    margin: 0;
    width: 100%;
    height: 40%;
    margin: 0;
    position: relative;
    border-radius: 0;
}

.second__carousal::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
    right: 0;
}
.second__carousal .text__visible {
    position: relative;
    color: #fff;
    text-align: center;
}
.second__carousal i {
    font-size:50px;
    margin: 3rem;    
}

/*---------------------- 08. PRICING SECTION----------------------*/

/* removing Corner radius */
.prising_section, .second__carousal {
    border-radius: 0;
}

.prising_section {
    background: #F3F7FC;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.prising_section .container {
    padding-top: 20px;
}

/* pricing plan col border */
.pricing_plan--col ul {
    border: 1px solid #e6e9ec;
}

.pricing_plan--header {
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
    padding: 20px 0 30px;
}

.pricing_plan--option b {
    color: var(--primary--text--color);
}

.pricing_plan--option {
    font-size: 16px;
    color: #939393;
    line-height: 68px;
}

.pricing_plan--price {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary--text--color);
    padding: 35px 0;
}

@media (max-width: 992px) {
    .pricing_plan--col {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    /* pricing plan section*/
    .pricing_plan--col {
        position: relative;
        transition: bottom ease-out 0.3s !important;
        bottom: -30px;
    }
    .pricing_plan--col:hover {
        transition: bottom ease-out 0.3s !important;
        bottom: 0;
    }
    .pricing_plan--col h2 {
        font-size: 18px;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .pricing_plan--col {
        width: 100%;
        max-width: 400px;
        margin: 40px auto 0 auto;
    }
}

@media (min-width: 992px) {
    /* hide column below the pricing plan to make transisition on hover */
    .hide__col {
        position: relative;
        background: rgb(255, 255, 255);
        padding: 16px 0;
        margin: 0;
        border-radius: 0;
        border: none;
        width: 100%;
    }
}

/*---------------------- 09. PROJECT SECTION----------------------*/

.project__section {
    border-radius: 0;
    background-color: #ffffff;
    margin: 0;
}

/* ----------------------------
        Start of Imagegallary 
-------------------------------*/
.image__gallary div > a img {
    padding: 10px;
}

.gallery-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block.compact-gallery .item {
    overflow: hidden;
    margin-bottom: 0;
    background: white;
    opacity: 1;
}

.gallery-block.compact-gallery .item .image {
    transition: 0.2s ease;
}

.gallery-block.compact-gallery .item .description {
    display: grid;
    position: absolute;
    bottom: 46%;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    opacity: 1;
    transition: 0.8s ease;
    text-align: center;
}

.gallery-block.compact-gallery .item .description .description-heading {
    font-size: 1.5em;
    font-weight: bold;
}


@media (min-width: 576px) {
    .gallery-block.compact-gallery .item .description {
        opacity: 0;
    }
    .gallery-block.compact-gallery .item a:hover .description {
        opacity: 1;
    }
    .gallery-block .zoom-on-hover:hover .image {
        /* transform: scale(1.7); */
        /* background: #e23d0b; */
        opacity: 0.3;
    }
}

/* ----------------------------
        End of Imagegallary 
-------------------------------*/

/*---------------------- 10. PROMO SECTION----------------------*/

.call__to__action {
    background-image: url('../img/call_to_action.jpg');
    width: 100%;
    height: 40%;
    margin: 0;
    position: relative;
    border-radius: 0;
}

.call__to__action::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
    right: 0;
}

.call__to__action .text__visible {
    position: relative;
    color: #fff;
    text-align: center;
}

.call__to__action button {
    color: var(--primary-color);
    background: #ffffff;
    padding: 17px 34px;
    font-size: 17px;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    margin: 35px;
}

.call__to__action button i {
    padding-left: 10px;
}

.call__to__action button:hover {
    background: #ffffff;
    border: 0;
    border-radius: 0;
    color: var(--primary-color);
}

